{% extends "base.html" %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Services</li>
</ol>
<h1>Services</h1>
{% if user.is_staff %}
<div class="well well-sm">
  {% include 'snippet/staff_disclaimer.html' %}
  <a class="btn btn-primary" href="{% url 'service_create' %}">Create Service</a>
</div>
{% endif %}
<ul>
  {% for service in services %}
  <li><a href="{% url 'service_detail' pk=service.pk %}">{{ service }}</a></li>
  {% empty %}
  <li>No service has been created yet.</li>
  {% endfor %}
</ul>
{% endblock %}