{% extends "base.html" %}
{% block content %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'equipment_list' %}">Equipment</a></li>
    <li class="active">{{ equipment }}</li>
  </ol>
  <h1>{{ equipment.name }}</h1>
  <div class="panel panel-default">
    <div class="panel-body">{% include 'snippet/staff_disclaimer.html' %}
      <a class="btn btn-primary" href="{% url 'equipment_update' pk=equipment.pk %}">Update Equipment</a>
      <a class="btn btn-warning" href="{% url 'equipment_delete' pk=equipment.pk %}">Delete Equipment</a>
    </div>
  </div>
  {{ equipment }}
{% endblock %}