{% extends "base.html" %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">Equipment</li>
</ol>
<h1>Equipment</h1>
{% if user.is_staff %}
<div class="well well-sm">
  {% include 'snippet/staff_disclaimer.html' %}
  <a class="btn btn-primary" href="{% url 'equipment_create' %}">Create Equipment</a>
</div>
{% endif %}
<ul>
  {% for eq in equipment %}
  <li><a href="{% url 'equipment_detail' pk=eq.pk %}">{{ eq }}</a></li>
  {% empty %}
  <li>No equipment has been created yet.</li>
  {% endfor %}
</ul>
{% endblock %}