{% extends "base.html" %}
{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li class="active">{{ business }}</li>
</ol>
<h1>{{ business.name }}</h1>
{% if business_editable %}
<div class="panel panel-default">
  <div class="panel-body">
    <p>Welcome back, {{ user }}!</p>
    <a class="btn btn-primary" href="{% url 'business_update' pk=business.pk %}">Update Business</a>
    <a class="btn btn-warning" href="{% url 'business_delete' pk=business.pk %}">Delete Business</a>
  </div>
</div>
{% endif %}
<h2>Description</h2>
{% if business.description %}{{ business.description|linebreaks }}
{% else %}<p class="text-muted">No description has been written for this business.</p>{% endif %}
<h2>Location</h2>
<dl class="dl-horizontal">
  <dt>Address</dt>
  <dd>{{ business.address_1 }}</dd>
  {% if business.address_2 %}
  <dt>Address (cont.)</dt>
  <dd>{{ business.address_2 }}</dd>
  {% endif %}
  <dt>Country</dt>
  <dd>{{ business.country }}</dd>
  {% if business.region %}
  <dt>Region</dt>
  <dd>{{ business.region }}</dd>
  {% endif %}
  <dt>City</dt>
  <dd>{{ business.city }}</dd>
  <dt>Postal Code</dt>
  <dd>{{ business.postal_code }}</dd>
</dl>
<h2>Business Members</h2>
<ul class="list-unstyled">
  {% for bmembership in business.businessmembership_set.all %}
  <li>{{ bmembership.user }}</li>
  {% empty %}
  <li>This business has no members.</li>
  {% endfor %}
</ul>
{% endblock %}