{% extends 'base.html' %}

{% block content %}
<ol class="breadcrumb">
  <li class="active">Home</li>
</ol>
<h1>My Businesses</h1>
<div class="well well-sm">
  <a class="btn btn-primary" href="{% url 'business_create' %}">Create Business</a>
</div>
<ul class="list-group">
  {% for business in businesses %}
  {% include 'snippet/business_element.html' %}
  {% empty %}
  <li class="list-group-item">You are not a member of any businesses. Why not get started and create a business?</li>
  {% endfor %}
</ul>
{% endblock %}