{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
  <ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="{% url 'pricelist_list' %}">Price Lists</a></li>
    <li><a href="{% url 'pricelist_detail' pl_id=pricelist.id %}">{{ pricelist.name }}</a></li>
    <li class="active">{{ action }} Time Price List Item</li>
  </ol>
  <h1>{% if timeitem %}Time Item: {{ timeitem.name }}{% else %}Create New Time Price List Item{% endif %}</h1>
  <form method="POST">
    {% csrf_token %}
    {% if form %}
      {% bootstrap_form form %}
      <input class="btn btn-primary" type="submit" value="Submit"/>
    {% else %}
      <p>Are you sure you want to delete {{ timeitem }}?</p>
      <input class="btn btn-danger" type="submit" value="Delete"/>
    {% endif %}
  </form>
{% endblock %}