{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="/">Home</a></li>
  <li><a href="{% url 'pricelist_list' %}">Price Lists</a></li>
  <li><a href="{% url 'pricelist_detail' pl_id=pricelist.id %}">{{ pricelist }}</a></li>
  <li class="active">Unit Item: {{ unititem.name }}</li>
</ol>
<h1>Unit Item: {{ unititem.name }}</h1>
{% if can_create and request.user.is_staff %}
<div class="panel panel-default">
  <div class="panel-body">{% include 'snippet/staff_disclaimer.html' %}
    <a class="btn btn-primary" href="{% url 'unit_pricelistitem_update' pk=unititem.pk %}">Update Unit Price
      List Item</a>
    <a class="btn btn-warning" href="{% url 'unit_pricelistitem_delete' pk=unititem.pk %}">Delete Unit Price
      List Item</a>
    <br><br>
    <a class="btn btn-primary"
       href="{% url 'equipment_pricelistitem_create' pl_id=pricelist.pk item_uuid=unititem.item_uuid %}">
      Add Equipment Relation
    </a>
    <a class="btn btn-primary"
       href="{% url 'service_pricelistitem_create' pl_id=pricelist.pk item_uuid=unititem.item_uuid %}">
      Add Service Relation
    </a>
  </div>
</div>
{% endif %}
<h2>Unit Item Fields</h2>
<ul class="list-unstyled">
  <li><strong>Item UUID: </strong><code>{{ unititem.item_uuid }}</code></li>
  <li><strong>Cost (Amount): </strong>${{ unititem.price_per_unit }}</li>
</ul>
<h2>Description</h2>
{{ unititem.description }}
<h2>Equipment</h2>
<ul>
  {% for equipment in equipmentplir_set %}
  <li><a href="{% url 'equipment_pricelistitem_detail' pk=equipment.pk %}">{{ equipment }}</a></li>
  {% empty %}
  <li>No equipment is associated with this price list item.</li>
  {% endfor %}
</ul>
<h2>Services</h2>
<ul>
  {% for service in serviceplir_set %}
  <li><a href="{% url 'service_pricelistitem_detail' pk=service.pk %}">{{ service }}</a></li>
  {% empty %}
  <li>No service is associated with this price list item.</li>
  {% endfor %}
</ul>
{% endblock %}